# =========================
# Python bytecode
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
.env
.venv
env/
venv/

# =========================
# Data (never commit raw resumes)
# =========================
data/raw/
data/processed/
data/enriched/

# =========================
# Logs & Models
# =========================
logs/
models/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
